@page
@model Torneo.App.Frontend.Pages.Dts.IndexModel
@{
}
@if (Model.ErrorEliminar)
{
  <div class="alert alert-danger" role="alert">
    No se puede eliminar el Director técnico
  </div>
}
<a class="btn btn-primary" asp-page="./Create">Crear D.Tecnico</a>
<h1> Listado de Director técnico</h1>

<table class="table table-striped table-hover" style="text-align:center">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var directorTecnico in Model.directorTecnico)
    {
      <tr>
        <th scope="row">@directorTecnico.Id</th>
        <td>@directorTecnico.Nombre</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
              Acciones
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" asp-page="./Details" asp-route-id="@directorTecnico.Id">Detalles</a></li>
              <li><a class="dropdown-item" asp-page="./Edit" asp-route-id="@directorTecnico.Id">Editar</a></li>
              @if (directorTecnico.Equipos.Count == 0)
                {
                  <form method="post" class="d-inline">
                    <li><a class="dropdown-item" asp-page-handler="Delete" asp-route-id="@directorTecnico.Id" onclick="return confirm(`¿Esta seguro de eliminar el Director Técnico ?`)">Eliminar</a></li>
                     </form>
                }
            </ul>
          </div>
        </td>

      </tr>
    }
  </tbody>
</table>
